/* --- Обнуление стилей --- */
/*сброс отступов */
* { 
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняем подсчет ширины блока */
*, *:before, *:after { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Убераем линии обводки у некоторых браузерах */
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
/* Делаем блочными */
nav, footer, header, aside {display: block;}
/* Уравниваем поведение шрифтов и элиментов в браузерах, запрещают самовольное увеличение шрифта на iPhone */
html, body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
/* Указываем наследовать семейство шрифта */
input, button, textarea {font-family: inherit;}
/* Разные изменения которые уберают особенности разных браузеров */
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* Задаем наследование симейства шрифта и устанавливаем жирность на 400 для заголовков */
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}